body {
    background-image: url('https://cdn.dribbble.com/users/1436887/screenshots/13915124/media/5a653c315bafcd250678b2b70057d598.gif');
    background-size: 413px 364px;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-color: #f7e8df
}

.containerOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.welcomeBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

h1 {
    font-family: "Caveat", cursive;
}

.box {
    width: 300px;
    height: 200px;
    background-color: red;
    margin: 10px;
    border-radius: 10px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.box p {
    font-family: "Caveat", cursive;
    font-size: 1.5rem;
}